.listing__detection__items {
  list-style: none;
  margin: 0;
  padding: 15px 20px;
}

.listing__detection__item {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  padding-left: 50px;
  position: relative;
}

.listing__detection__item__line {
  position: absolute;
  left: 0;
  width: 36px;
  height: 3px;
  top: 50%;
  margin-top: -2px;
  background: #eee;
}

.listing__detection__row {
  padding: 10px 20px;
  display: flex;
  border-top: 1px solid #ddd;
}

.listing__detection__row:first-child {
  border-top: 0;
}

.listing__detection__label {
  width: 87px;
  font-size: 12px;
  font-weight: bold;
}

.listing__detection__container {
  margin-left: 10px;
  margin-right: 165px;
  flex: 1;
  height: 4px;
  margin-top: 6px;
  position: relative;
}

.listing__detection__marker {
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
}

