.listings__toolbar {
  font-size: 12px;
  font-weight: bold;
  transition: all 0.3s linear 0.3s;
}

.listings__toolbar .btn {
  opacity: 1 !important;
}

.listings__toolbar .btn i {
  font-size: 14px;
  float: left;
  margin-right: 6px;
  margin-top: 1px;
}

.listings__toolbar .btn-count {
  background: #2a3e49 !important;
  border-color: #2a3e49 !important;
  font-weight: bold;
  color: white;
}
