.listing__tabs {
  font-size: 13px;
  background: white;
}

.listing__tabs .nav {
  padding-left: 20px;
}

.listing__tabs .nav > li > a {
  padding: 7px 12px;
}

.listing__tabs .nav > li > a:focus {
  outline: none;
}

.listing__tabs__content {
  padding: 10px 20px;
}

.listing__tab-content {
  font-size: 13px;
  background: white;
}

