/**
 * Rangeslider
 */
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;

  .rangeslider__fill,
  .rangeslider__handle {
    position: absolute;
  }

  &, .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
      background: #999;
    }
  }
}

/**
 * Rangeslider - Horizontal slider
 */
.rangeslider-horizontal {
  height: 20px;
  border-radius: 10px;
  .rangeslider__fill {
    height: 100%;
    background: #27ae60;
    border-radius: 10px;
    top: 0;
  }
  .rangeslider__handle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: -10px;
  }
}

/**
 * Rangeslider - Vertical slider
 */
.rangeslider-vertical {
  margin: 15px auto;
  height: 150px;
  width: 10px;
  background: none;
  border-radius: 3px;

  .rangeslider__fill {
    width: 100%;
    background: #0079c0;
    box-shadow: none;
    bottom: 0;
    border-radius: 3px;
  }

  .rangeslider__handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: -5px;

    &:active {
      box-shadow: none;
    }
  }
}
