.sidebar {
  background: #2a3e49;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
}

.sidebar__content {
  position: relative;
  min-height: 100%;
  padding-bottom: 123px;
  /* Height of .nav-bottom */
}

.sidebar .logo-wrapper {
  padding: 20px;
  text-align: center;
  background: #1a2e39;
}

.sidebar .logo-wrapper img {
  max-height: 40px;
  margin: 0 auto;
}

.sidebar h4 {
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0 0;
  padding: 10px 20px;
  color: #67899b;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.sidebar .nav {
  position: relative;
}

.sidebar .nav.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.sidebar .nav > li {
  margin: 0;
}

.sidebar .nav > li > a {
  color: #afcad9;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar .nav > li.upload-files > a {
  color: #85d04a;
}

.sidebar .nav > li.upload-files.active > a {
  background: #6bb730;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
  background: #3a4e59;
  color: white;
}

.sidebar .nav > li > a .text-muted {
  color: #67899b;
  margin-left: 6px;
  font-size: 12px;
}

.sidebar .nav > li.active > a {
  background: #0079c0;
  color: white;
}

.sidebar .nav > li.active > a .text-muted {
  color: #afcad9;
}
